.flexbox-text {
  margin: 100px 200px 100px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
}

ol {
  padding-left: 20px;
}

li {
  list-style: circle;
}

.flexbox-animals {
  display: flex;
  flex-direction: row;
  margin: 100px;
}

.selection {
  margin: 100px;
  display: flex;
  flex-direction: column;
}

button {
  width: 200px;
  height: auto;
  margin: 30px;
  padding: 20px 30px;
  background-color: #15616d;
  color: #ffff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

button:hover {
  background-color: #0077b6;
}

.animal-pen {
  border-style: dashed;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-basis: 100%;
}

.icon {
  max-width: 10rem;
  object-fit: contain;
}

/* MOBILE */

@media only screen and (max-width: 320px) {
  .flexbox-text {
    margin: 30px;
  }

  .flexbox-animals {
    flex-direction: column;
    margin: auto;
  }

  .animal-pen {
    margin: 10%;
  }

  .icon {
    max-width: 2rem;
    object-fit: contain;
  }

  .selection {
    margin: auto;
  }

  button {
    font-size: 16px;
    width: 150px;
    margin: 15px;
  }
}
