/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
}

/* TOP-CONTAINER */

.top-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 230px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAVIGATION BAR */

nav {
  background-color: #023047;
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0 !important;
}

li {
  flex-basis: 25%;
  list-style: none;
}

a {
  display: flex;
  padding: 20px;
  color: white !important;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none !important;
  justify-content: center;
}

a:hover {
  background-color: #0077b6;
  color: white !important;
}

nav a.active {
  background-color: #0077b6;
  color: white;
}

/* MIDDLE-CONTAINER */

.middle-container {
  padding: 200px;
  display: flex;
}

.middle-container-text h1 {
  margin-bottom: 50px;
}

.middle-container-text h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.middle-container-text {
  width: 50%;
  flex-direction: column;
  text-align: justify;
}

#laptop-dog {
  border-radius: 50%;
  width: 500px;
  height: auto;
  padding: 100px;
}
.containerSection {
  padding-top: 30px;
}
.imgHome {
  background-image: url("../images/dog_laptop.jpg");
  width: 100%;
  height: 600px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-top: 300px;
  margin-left: 150px;
}

.animationExample {
  width: 200px;
  height: 200px;
  background-image: url(https://img.freepik.com/free-photo/cute-spitz_144627-7076.jpg?w=826&t=st=1708292953~exp=1708293553~hmac=1ec9c8296f5d89fd5345e822cbad69e2af390fed5072b4c8b48af6f454eaec50);
  background-size: contain;
  animation-name: example;
  animation-duration: 4s;
  border-radius: 0;
  border: solid blueviolet;
}
@keyframes example {
  from {
    border-radius: 0;
    border: solid blueviolet;
  }
  to {
    border-radius: 50%;
    border: solid #df86ba;
  }
}

.durationExample {
  width: 600px;
  position: relative;
}

.animationDurationEx {
  width: 100px;
  height: 100px;
  animation-name: example2;
  position: absolute;
  right: 20px;
  animation-duration: 10s;
}

@keyframes example2 {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

.animationDurationEx2 {
  width: 100px;
  height: 100px;
  animation-name: example3;
  position: absolute;
  top: 250px;
  right: 20px;
  animation-duration: 5s;
  animation-iteration-count: 3;
}

@keyframes example3 {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
.transitiondiv {
  width: 340px;
  height: 250px;
  background-image: url(https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/pug-and-dachshund-cropped.jpg?h=320&iar=0&w=710&hash=4EFC85AEE81CC2DAC436AB398F0D1A33);
  transition: width 2s;
}

.transitiondiv:hover {
  width: 700px;
}

.transitiondelaydiv {
  width: 400px;
  height: 650px;
  background-image: url(https://prideandgroom.com/cdn/shop/articles/white_dogs_2000x_63d29ed5-274a-46fd-9bbc-181ed8a0c1b2.webp?v=1695716923&width=1500);
  transition: width 3s;
  transition-delay: 2s;
}

.transitiondelaydiv:hover {
  width: 800px;
}
.transitionduration {
  width: 300px;
  height: 500px;
  background-image: url(https://www.akc.org/wp-content/uploads/2018/05/Three-Australian-Shepherd-puppies-sitting-in-a-field.jpg);
  transition-property: width;
  transition-duration: 8s;
}
.transitionduration:hover {
  width: 600px;
}
.transitionduration2 {
  width: 300px;
  height: 500px;
  background-image: url(https://www.akc.org/wp-content/uploads/2018/05/Three-Australian-Shepherd-puppies-sitting-in-a-field.jpg);
  transition-property: width;
  transition-duration: 1s;
}
.transitionduration2:hover {
  width: 600px;
}

.learnmore {
  color: black !important;
}
.learnmore:hover {
  color: #0077b6 !important;
  background-color: transparent !important;
}
/* FOOTER */

footer {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  color: #ffffff;
  background-color: #023047;
}

footer a {
  font-size: 18px;
}
/* MOBILE */

@media only screen and (max-width: 320px) {
  .top-container {
    height: 100px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: 1rem;
    font-weight: 600;
  }

  .imgHome {
    margin: 0px;
  }
}
