.syntax-text {
  margin: 100px 200px 100px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
}

.syntax-interactive {
  display: flex;
  flex-direction: row;
  margin: 100px 200px 100px;
}

.syntax-option {
  margin: 100px;
  display: flex;
  flex-direction: column;
}

.cat img {
  max-width: 5rem;
}

.cat {
  border-style: dashed;
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-basis: 5%;
}
