.syntax-text {
  margin: 100px 200px 100px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
}

.syntax.container {
  display: flex;
  flex-direction: column;
}

.syntax-interactive {
  display: flex;
  flex-direction: row;
  margin: 100px 200px 100px;
}

.syntax-option {
  margin: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.hamster {
  border-style: dashed;
  margin: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 5%;
}

.hamster img {
  max-height: 8rem;
}

.turtle img {
  max-height: 8rem;
}

.turtle {
  border-style: dashed;
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 5%;
}
