.syntax-text {
  margin: 100px 200px 100px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.syntax-interactive {
  display: flex;
  flex-direction: row;
  margin: 100px 200px 100px;
}

.syntax-option {
  margin: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.syntax-interactive img {
  max-width: 5rem;
}

.syntax-interactive img {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-basis: 5%;
}

/*MOBILE*/

@media only screen and (max-width: 320px) {
  .syntax-text {
    margin: 30px;
  }

  .grid-wrapper {
    display: block;
  }

  .syntax-interactive {
    margin: 30px;
    flex-direction: column;
  }

  .syntax-option {
    margin: 50px;
  }

  .syntax-interactive img {
    max-width: 3rem;
  }
}
